@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --color-black: 0 0% 0%;
  --color-light-black: 0 0% 19%;
  --color-white: 0 0% 100%;

  --ff-inter: "Inter", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 61.5%;
}
h1,
h2,
h3,
h5,
h6 {
  font-weight: bold;
}

body {
  box-sizing: border-box;
  font-family: var(--ff-inter);
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: hsl(var(--color-white));
  min-height: 100vh;
}

.heading_1 {
  font-size: 20rem;
  line-height: 20rem;
  letter-spacing: -5px;
  font-weight: bold;
}
.heading_2 {
  font-size: 5.6rem;
  line-height: 6.8rem;
  font-weight: bold;
  /* color: hsl(var(--color-light-black)); */
}

.heading_3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.48rem;
  font-weight: bold;
}

.heading_4 {
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.4rem;
  font-weight: 400;
}

.heading_5 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -5;
  font-weight: bold;
}
.heading_6 {
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 3px;
  /* color: hsl(var(--color-light-black)); */
}

.fnt-700 {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.btn-more {
  text-transform: uppercase;
  color: hsl(var(--color-black) / 0.5);
  background-color: hsl(var(--color-white));
  border-radius: 2.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.5rem;
  padding: 0rem 1.4rem;
  padding-left: 2rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 1.3rem; */
  width: 15rem;
  height: 5.7rem;
  cursor: pointer;
}

.container {
  margin-left: -1rem;
  min-height: 100vh;
}

.evening {
  background-image: url("../public/assets/desktop/bg-image-nighttime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.morning {
  background-image: url("../public/assets/desktop/bg-image-daytime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.up-container {
  padding-inline: 16.5rem;
  padding-block: 6rem;
  display: flex;
  /* gap: 22rem; */
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  transition: all 0.2s ease-in-out;
}

.clock-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.expand-container {
  min-height: 50vh;
  padding-block: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.expand-day {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(2.3871rem);
  color: hsl(var(--color-black));
}
.expand-night {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2.3871rem);
  color: hsl(var(--color-white));
}

.btn-svg circle {
  fill: #303030;
}

.btn-svg circle:hover {
  fill: #999999;
}

.quote-container {
  transition: all 0.2 ease-in-out;
  min-height: 45vh;
}

.quote {
  width: 48ch;
  margin-bottom: 1.3rem;
}
.quote-list {
  display: flex;
  gap: 1.6rem;
}

.quote-list svg {
  transform: translateY(1rem);
  cursor: pointer;
}

.greeting-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.time-container {
  display: flex;
  align-items: baseline;
}
.clock-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.timezone {
  font-weight: 300;
  font-size: 4rem;
  line-height: 2.8rem;
  margin-left: 1.1rem;
}

.expand-right,
.expand-left {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  flex: 0 0 50%;
}
.expand-left {
  border-right: 1px solid currentColor;
  padding-inline: 16.5rem;

  border-color: color-mix(in srgb, currentColor 25%, transparent);
}
.expand-right {
  padding-inline: 9.4rem;
}

/* .expand-value {
}
.expand-title {
} */

@media only screen and (max-width: 75em) {
  .heading_1 {
    font-size: 17.5rem;
    line-height: 17.5rem;
    letter-spacing: -4.375px;
  }
  .heading_2 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .up-container {
    padding-inline: 9.4rem;
  }

  .expand-left,
  .expand-right {
    border: none;
    justify-content: center;
    padding-inline: 9.4rem;
  }
  .quote {
    width: 55ch;
  }

  .evening {
    background-image: url("../public/assets/tablet/bg-image-nighttime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .morning {
    background-image: url("../public/assets/tablet/bg-image-daytime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading_3 {
    font-size: 1.8rem;
    letter-spacing: 3.6px;
  }
  .heading_4 {
    font-size: 1.8rem;
    letter-spacing: 3.6px;
  }
  .heading_6 {
    font-size: 1.3rem;
    letter-spacing: 2.6px;
  }
  .up-container {
    padding-inline: 6.4rem;
  }
  .clock-container {
    flex-direction: column;
    align-items: start;
    gap: 8rem;
  }
  .expand-container {
    justify-content: center;
    padding-inline: 6.4rem;
  }
  .expand-left,
  .expand-right {
    padding-inline: 6.4rem;
  }

  .timezone {
    font-size: 3.2rem;
  }
  .btn-more {
    width: 14.6rem;
    height: 5.6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  body {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
  .greetings span {
    display: none;
  }

  .up-container {
    padding-inline: 2.8rem;
  }
  .heading_1 {
    font-size: 9rem;
    line-height: 9rem;
    letter-spacing: -0.25rem;
  }
  .heading_2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .heading_3 {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
  .heading_4 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 3px;
  }
  .heading_6 {
    font-size: 1rem;
    letter-spacing: 2.8px;
    letter-spacing: 2px;
  }

  .quote {
    width: 40ch;
  }
  .quote-list {
    gap: 1.4rem;
  }

  .timezone {
    font-size: 1.5rem;
  }

  .btn-more {
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 3.75px;
    width: 14rem;
    height: 5rem;
  }
  .expand-container {
    padding-block: 8rem;
    padding-inline: 2.8rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 1.6rem;
  }
  .expand-left,
  .expand-right {
    width: 100%;
    gap: 1.6rem;
    padding-inline: 0px;
  }

  .expand-item {
    display: flex;
    justify-content: space-between;
  }

  .evening {
    background-image: url("../public/assets/mobile/bg-image-nighttime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .morning {
    background-image: url("../public/assets/mobile/bg-image-daytime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
